<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="visitSite"><%= link_to "네이버", "/casein/apps?platform=naver" %></li>
<li id="visitSite"><%= link_to "네이트", "/casein/apps?platform=nate" %></li>