<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="visitSite"><%= link_to "Apps", casein_apps_path %></li>
<li id="visitSite"><%= link_to "Ranks", casein_ranks_path %></li>